.product-management-container {
  padding: 20px;
}

.content-wrapper {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05);
  padding: 20px;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.product-info {
  display: flex;
  align-items: center;
}
.address-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.address-item {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
}

.uploaded-preview {
  width: 148px;
  height: 148px;
  border-radius: 6px;
  border: 1px dashed var(--el-border-color);
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.uploaded-preview:hover .preview-actions {
  opacity: 1;
}

.preview-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.hide_box :deep(.el-upload--picture-card) {
    display: none;
}

.hide-upload-btn :deep(.el-upload-list > .el-upload--picture-card)  {
    display: none;
}
